* {
	font-family: 'Muli', sans-serif;
}

body {
	background:#fff;
}

p,a,th,td,li {
	font-weight: 300;
	color:#333;
	font-size:16px;
	line-height:26px;
}
p.title {
	margin-bottom:30px;
}

strong {
  font-weight: 700
}
img {
	max-width: 100%
}
a:hover {
	text-decoration: none !important
}

/* HEADER */
.header-bar {
  height: 88px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  position:fixed;
  width:100%;
  z-index:999;
}
.header-bar.clear-header {
  height: auto;
  box-shadow: none;
  background-color: transparent;
}
.header-bar.no-fixed {
  position:relative; 
}
.header-bar .navbar {
	padding-top: 19px;
    padding-bottom: 19px;
    padding-right:75px;
    padding-left:75px;
}
.header-bar .navbar li a.nav-link {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #0a1535;
  padding: 0 20px;
}
.header-bar .navbar-brand {
	margin-right:25px;
}
.header-bar .navbar-toggler {
  position: absolute;
  right:0;
  z-index: 20;
  margin-right: 20px
}
.navbar-toggler span {
    background: #aab7dc;
    width: 20px;
    height: 2px;
    display: block;
    margin: 0 0 5px 0;
}
.navbar-toggler span:last-child {
    margin:0;
}
.header-bar .navbar-toggler {
    position: absolute;
    right: 0;
    z-index: 20;
    padding: 12px;
    border: 1px solid #aab7dc;
}
/* HEADLINES */

h1,h2,h3,h4,h5,h6 {
  color: #0a1535;
}

.content h1, .child-content h1{
   margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
}
.content h2, .child-content h2 {
	font-size:32px;
  margin-bottom:20px;
}
.content h3, .child-content h3 {
  font-size: 26px;
  margin-bottom: 15px
}

/* FLEXING CONTENT DIV */
.content [class*=col] {
  flex-direction: column
}

/* IMAGE ICON */
.icon {
	width:50px;
	height: auto;
	margin-right:25px;
}
/* BUTTONS */
body .btn {
	padding: 7px 23px;
}
.btn.btn-primary {
	  border-radius: 100px;
  	background: #668cf3;
  	color:#fff !important;
}
.btn.btn-secondary {
  border-radius: 100px;
  border: solid 1px #aab7dc;
  background-color: transparent;
  font-weight:700;
  letter-spacing: 0.5px
}
.btn.disabled {
  border-radius: 100px;
  background-color: #b8babd;
  border:0;
  color:#fff;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding:10px 90px;
  opacity: 1 !important
}
.btn.btn-blue {
  border-radius: 100px;
  background-color: #143e8c;
  color:#fff;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding:10px 90px;
  opacity: 1 !important
}
.btn.btn-blue:hover {
  background-color: #191919;
  color:#fff;
}
.btn img {
	width:12px;
	height:auto;
	margin-left:8px;
	margin-top:-5px;
}

/* HOME CONTENT */
.home .content {
	height:100vh;
} 
.section.home-1 {
  padding-top:0;
}
.section {
  padding-top:30px;
}
.content.home-1 {
	padding-top:88px;
}
.content#download {
  height:70vh;
}
.download-link img {
	width:135px;
}
.download-link a {
	margin-right:16px;
}
.scroll-down {
    margin-top:-25px;
}
.scroll-down a {
	color:#adadad;
}
.icon-desc li {
	padding-bottom: 16px
}

/* MODAL DOWNLOAD */
body .modal-backdrop {
    background-color: #fff;
}
body .modal-backdrop.show {
    opacity: .9;
}
.modal h2 {
  margin-bottom:60px;
}
.download-app img {
  width:115px;
  margin-bottom: 20px
}
.download-app li {
  padding:35px 45px 30px 40px;
}
.download-app a {
  display: block;
  cursor: pointer
}
.modal .modal-content {
  background: none;
    border: 0;
}
.guru-app {
  border-right:1px solid #e1e1e1;
}
#countdown span {
  display: block;
  background:#d8d8d8;
  padding:50px 25px; 
  font-size:48px;
  font-weight: 700;
  min-width:100px;
  margin:0 6px 20px 6px;
  border-radius: 7px;

}
#countdown ul {
  text-transform: uppercase;
}

/* CHILDPAGE */
.child-content {
  padding:90px 0;
}
.child-content ul{
    padding:0 0 0 20px;
}
.child-content h3 {
  font-weight: bold
}
.child-content p, .child-content ul, .child-content ol {
  margin-bottom: 26px
}
.sidebar .list-unstyled li {
  padding: 0 0 7px 0;
}


/* FOOTER */
footer {
	color:#fff;
  font-weight: 200;
  background: #1c2237;
  font-size:12px;
  padding:28px 75px;
}
footer a {
	color:#fff;
  font-size:12px;
  font-weight: 200;
}
footer ul.list-inline li {
  margin:0;
  padding:0;
}
footer li a:after {
  content:'|';
  padding-left:10px;
}
footer li:last-child a:after {
  content:'';
}
.copyright {
  opacity: 0.5;
  margin-right: 16px;
  font-weight: 200;
}
img.socmed {
  width:32px;
  margin-left:13px;
}

/* FORGOT PASS */

body.forgot-pass {
  background: url(../img/home.svg) center bottom 5em no-repeat;
  background-size:86% 100%;
  min-height:100vh;
}
.forgot-pass input[type="email"],
.forgot-pass input[type="text"],
.forgot-pass input[type="password"],
.forgot-pass input[type="password2"] {
  border-radius:0  !important;
  border:0 !important;
  border-bottom:1px solid #d8d8d8 !important;
  font-weight: 300;
  font-size:14px;
  padding:15px 0 !important;
  height:auto;
  background:transparent !important;
}
.forgot-pass .form-group {
  margin-bottom:30px;
}
.forgot-pass button {
  margin:0 auto;
  display: table
}
.form-group .input-group-text {
  background:transparent;
  border:0;
  border-bottom:1px solid #d8d8d8;
  border-radius: 0;
}
/* ANIMATE */
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-9px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9px);
  }
}
@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
@keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
.flip {
  -webkit-animation: flip .4s;
  animation: flip .4s;
}

@media  screen and (max-width: 767px) {
  .home .content {
    height:auto;
    min-height: 100vh
  }
  .home .content#download {
    height:auto;
    min-height: 0
  }
  .header-bar .navbar {
    padding: 15px 20px;
  }
  .header-bar {
    height: auto
  }
  .navbar .menuholder {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fafafa;
  }
  .menuholder ul.main-menu li.nav-item a {
    padding: 10px 20px;
    text-align:center;
  }
  .menuholder ul.main-menu li.nav-item.button  {
    padding: 10px 20px 20px 20px;
  }
   .menu-button {
    width: 100%;
    display: inline-block;
  }
  .menu-button a {
    width: 100%
  }
  .menu-button:first-child {
     padding-bottom: 15px;
  }
  .content#download {
    height: auto;
  }
  .scroll-down {
    margin-top: 20px;
  }
  body.forgot-pass {
    background: url(../img/home.svg) center center no-repeat;
    background-size: 100%;
    min-height: auto;
  }
  body .container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
  footer {
    position: relative !important;
    padding: 25px;
    text-align:center;
  }
  footer .navbar {
    padding:0;
  }
  footer .copyright {
    margin:0 auto 10px auto;
  }
  footer .list-inline-item {
    display: block;
  }
  footer ul {
    width:100%;
  }
  footer li {
    margin-right:0 !important
  }
  footer li a:after {
    content:'';
    padding-left:0;
  }
  footer .social-media {
    margin: 15px auto 0 auto;
  }
  .forgot-pass .container.section {
    padding-top:40px;
    padding-bottom:120px;
  }
  /* MOBILE HOME */
  .section.home-1 {
    padding-top: 30px;
  }
  h1 br, h2 br, h3 br, h4 br, h5 br, p br {
    display: none
  }
  .section.download .text-right img {
        margin-top: 80px;
    margin-bottom: 50px;
  }
  .download-app li {
    padding: 15px 15px 15px 15px;
  }
  .modal h2 {
    margin-bottom: 30px;
  }
  /* CHILD PAGE */
  .child-content {
    padding: 30px 0;
  }
  /* HEADINGS MOBLE */
  .content h1, .child-content h1{
    margin-bottom: 20px;
    font-size: 39px;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
  }
  .content h2, .child-content h2 {
    font-size:30px;
    margin-bottom:20px;
  }
  .content h3, .child-content h3 {
    font-size: 24px;
    margin-bottom: 15px
  }
  .section.guru .col-md-6.text-right {
    text-align: center !important
  }
  .guardians .col-md-6.text-center {
    margin-bottom:20px;
  }
}
@media screen and (max-width: 480px) {
  .download-link img {
    width: 110px;
  }
}
@media screen and (max-width: 991px) and (orientation:landscape) {
  .content {
    min-height:100vh;
    height:auto !important;
  }
  h1 br, h2 br, h3 br, h4 br, h5 br, p br {
    display: none
  }
  .download-link img {
    margin-bottom: 15px;
  }
  .scroll-down {
    margin-top: 20px;
  }
}

